:root {
  --main-color: "#F9F7FE";
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: italic;
}
.hero {
  background-color: var(--main-color);
}
